<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="dataPath" value="Data" />
	<add key="exportPath" value="Export" />
	<add key="ExportI18Path" value="i18nEx\English\Script\" />
    <add key="databaseFileName" value="translation_data" />    
    <add key="ToTranslateCsv" value="ToTranslate.csv" />
    <add key="SplitTxt" value="Split_ToTranslate_" />    
    <add key="XuatFile" value="XUAT_Translations.txt" />
    <add key="SortFolderFile" value="sort_folders.json" />
	<add key="suspiciousTranslationFile" value="Suspicious_Translations.txt"/>
  </appSettings>
</configuration>